/* Styles for header*/
.bg1 {
    background: url(img/back.jpg) no-repeat;
}

.bg3 {
    background: url(img/back3.jpg) no-repeat
}

.bg4 {
    background: url(img/back2.jpg) no-repeat
}

.bg1,.bg3,.bg4{
 background-size: cover;
    min-height: 610px;
    -webkit-filter: blur(0.5px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }

.btn-submit {
    background: rgb(120, 121, 214);
    border: 0px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 40px;
    font-weight: normal;
    border-radius: 0px;
    letter-spacing: 1px;
    color: #333;
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    border: 2px solid rgb(240, 237, 229);
}
.btn-submit:hover {
    background: #fff;
}
body{
    background-color: #d9e3ef6e;
}
section{
    padding-top: 10px;
}
/* Styles for header title*/
.title {
    font-size: 100px;
    color:white;
    text-shadow: 2px 2px 4px #000000;
    border-bottom: solid 5px;
    border-color: bisque;
  }
  /*.pt1{
    padding-right:  80px;
    padding-left:   80px;
  }*/
 h2{
 	color:#113961;
  	margin-top: 25px;
 }
 figcaption{
    padding-top: 10px;
    font-weight: 600;
 }
 h5,.modal-body{
    color: navy;
 }
 /* Styles for model box*/
 .dg9{
    color:red;
    padding-right: 300px;
 }
 h4{
    color: white;
    margin-top: 25px;
 }
 .row{
 	  margin-top: 20px;
 }
 /*Styles for second background image*/
.bg2 {
    background: url(img/bg-heading-03.jpg) no-repeat; 
    background-size: cover;
    min-height: 610px;
}
.bg6{
    background-color:#9e7272a6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/*Style for forms*/
/*.m1{
   border: solid;
   border-color: #f7c9cd;
   border-radius: 20px;
   background: #b8d8ef63
  
}
/*styles for form fields*/
.frm input[type=text]
          {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border-color: black;
          }
.frm{
    color:black;
    font-size: 20px;
    font-weight: bold;
}
#country{
    color:blue;
    font-weight: 600;
   }
.bt2{
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    border-radius:10px;
    font-weight: bolder; 
}
.frm input[type=text]:focus {
    background-color: lightblue;
}
.ft1{
    margin-top: 100px;
}
.frm ::placeholder {
    color: navy;
    font-weight: 500;
}/*style for form field ends here*/
/*styles for footer*/

/* styles to show text on hovering on images*/
.ig1,.ig2,.ig3,.ig4,.ig5,.ig6{
    opacity: 0;
}
.dg1:hover .ig1,.dg0:hover .ig2,.dg3:hover .ig3,.dg4:hover .ig4,.dg5:hover .ig5,.dg6:hover .ig6{
    color: white;
    font-size: 34px;
    font-weight: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
}/*style ends here*/
/*Styles for image hovering in 2ND SEction*/
.tf1:hover{
    transition-property: transform;
    transition-delay: 3s;
    transition-duration: 5s;
    transform: skewX(10deg);
}
.tbn:hover {
    position:relative;
    top:-10px;
    left:-15px;
    transition-delay: 1s;
    transition-duration: 5s;
    transform:scaleX(1.05); 
    height:auto;
    display:block;
    z-index:999;
}/*Style ends here*/

.text1{
    color: black;
    font-weight: bold;
}
.ft{
    margin-top: 10px;
}
/* Styles for changing predefined Properties*/
/*.img-fluid{
  border: solid #f3eeb1;
}*/
.bg-light {
    background-color: #deb9bc!important;
      }
.navbar-brand{
    padding-left: 20px;
}
.img-fluid{
    border-radius: 10px;
}
p{
    font-weight: 600;
}
.tbh:hover{
    opacity: 0;
}

.im1{
  width:100%;
}
.thing,.pdg1{
  font-size: 30px;
  color:#113961;
  padding-top: 20px;
}
.bgf1{
  background-color: #e9ecef;
}
/*.dg0:hover .ig2{
 color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}
.dg3:hover .ig3{
 color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}
.dg4:hover .ig4{
 color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}
.dg5:hover .ig5{
 color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}
.dg6:hover .ig6{
 color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}*/